{% extends 'index.html' %}

{% block head %}
<title>SIDetect Chatbot</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="..\static\css\chat.css">
<link rel="stylesheet" href="..\static\css\home.css">
<script src="..\static\js\jquery-1.10.2.min.js"></script>
{% endblock %}

{% block content %}
<div class="chat-bar-collapsible">
    <h1><span>SID</span>etect Chatbot</h1>
    <button id="chat-button" type="button" class="collapsible">Click here to chat with me!
        <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
    </button>

    <div class="content">
        <div class="full-chat-block">

            <div class="outer-container">
                <div class="chat-container">
                    <div class="col-sm-12">
                        <div id="messagebox">
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="chat-bar-input-block">
            <div id="userInput">
                <input id="userMessage" class="form-control" type="text" name="msg"
                    placeholder="Tap 'Enter' to send a message">
            </div>
            <div class="chat-bar-icons">
                <i id="sendButton" style="color: white;" class="fa fa-fw fa-send" type="submit" value="Send"></i>
            </div>
        </div>
    </div>

</div>


<script>
    const coll = document.getElementsByClassName("collapsible");

    for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            this.nextElementSibling.style.maxHeight = this.nextElementSibling.style.maxHeight ? null : this.nextElementSibling.scrollHeight + "px";
        });
    }
    function getCompletion() {
        let userText = $("#userMessage").val();
        let userHtml = '<p class="userText"><span>' + userText + '</span></p>';
        $("#userMessage").val("");
        $("#messagebox").append(userHtml);
        document.getElementById('userInput').scrollIntoView({ block: 'start', behavior: 'smooth' });
        $.get("/get", { msg: userText }).done(function (data) {
            var assistantHTML = '<p class="assistantText"><span>' + data + '</span></p>';
            $("#messagebox").append(assistantHTML);
            document.getElementById('userInput').scrollIntoView({ block: 'start', behavior: 'smooth' });
        });
    }
    $("#userMessage").keypress(function (e) {
        // allows message to be sent with enter key
        if (e.which == 13) {
            getCompletion();
        }
    });
    // allows message to be sent by clicking the Send button
    $("#sendButton").click(function () {
        getCompletion();
    });
</script>
{% endblock %}
<!-- <script src="..\static\js\chat.js"></script> -->