{% extends 'index.html' %}

{% block head %}
<title>SIDetect WebApp</title>
{% endblock %}

{% block content %}
<header style="overflow-y: hidden;">
<section class="container">
  <div class="text-light p-lg-0 pt-lg-5 text-center text-sm-start" style="background-color: white;">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div class="home-title">
          <h1 class=" text-black"><span class="text-warning">SIDetect</span> : A Web-based Application </span></h1>
          <p class="lead my-4 text-black">
            For Detecting Suicidal Ideations (SI) using Natural Language Processing and Machine Learning.
          </p>

        </div>
        <img class="img-fluid w-50  d-sm-block" src="../static/img/pic5.jpg" id="img-main" alt="" />
      </div>
    </div>
  </div>

  <div class="p-5">
    <div class="container">
      <div class="row text-center g-4 my-5"id="card_col">
        <div class="col-md" data-aos="fade-up">
          <div class="card bg-dark text-light" >
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-search"></i>
              </div>
              <h3 class="card-title mb-3">SIDetect</h3>
              <p class="card-text" style="text-align: justify;">
                Suicide is a critical issue in modern society. Early detection and prevention of suicide attempts should
                be addressed to save people's life.
              </p>
              <a href="{{ url_for('detection_page')}}" class="btn btn-warning">Start Detect</a>
            </div>
          </div>
        </div>
        <div class="col-md" data-aos="fade-up">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <h3 class="card-title mb-3">MIKAY the Chatbot</h3>
              <p class="card-text" style="text-align: justify;">
                A chatbot named "MIKAY" whom you can ask related question to mental health, suicides, depression and anxiety.
              </p>
              
              <a href="{{ url_for('chatbot_page')}}" class="btn btn-warning">Ask now</a>
            </div>
          </div>
        </div>
        <div class="col-md" data-aos="fade-up">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <h3 class="card-title mb-3">Developers </h3>
              <p class="card-text" style="text-align: justify;">
                We are students taking Bachelor of Science in Computer Science from Technological Universiy of the
                Philippines.
              </p>
              <a href="{{ url_for('team_page') }}" class="btn btn-warning">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="learn" class="p-3 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="../static/img/mental.jfif" data-aos="slide-right" class="img-fluid" alt="" />
        </div>
        <div class="col-md p-5" data-aos="slide-left">
          <h2>Managing Suicidal Ideation</h2>
          <p class="lead">
            Overview
          </p>
          <p>
            If your doctor diagnoses you with suicidal ideation, it means that you’re preoccupied with the idea of suicide. You may regularly think about the way you would commit suicide or think about what life would be like if you weren’t around. You may also replay the suicidal act out in your mind.

            It’s important to know what warning signs to look for if you or someone you know is dealing with suicidal ideation. The sooner you recognize the signs, the sooner you can find the help you need.
            
            
          </p>
          <a href="https://www.healthline.com/health/suicidal-ideation" target="_blank" class="btn btn-light mt-3 ">
            <i class="bi bi-chevron-right "></i> Read more
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="learn" class="p-3 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">

        <div class="col-md p-5" data-aos="slide-right">
          <h2>Depression and Anxiety in Times of COVID-19</h2>
          <p class="lead">
            How Coping Strategies and Loneliness Relate to Mental Health Outcomes and Academic Performance
          </p>
          <p>
            Since the start of the COVID-19 pandemic, many countries have taken restrictive measures and have implemented lockdowns in an effort to contain the spread of the virus. The pandemic and these restrictions have changed living conditions across countries and age groups, affecting social life and increasing mental health issues (Kumar and Nayar, 2020), which may even have caused people to experience grief over the loss of their normal lives. In addition, authors have found various adverse side effects, including mental and physical health issues.
          </p>
          <a href="https://www.frontiersin.org/articles/10.3389/fpsyg.2021.682684/full" target="_blank" class="btn btn-light mt-3 float-end">
            <i class="bi bi-chevron-right "></i> Read more
          </a>

        </div>
        <div class="col-md">
          <img src="../static/img/pic6.jpg" data-aos="slide-left" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div id="learn" class="p-3 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md" data-aos="slide-right">
          <img src="../static/img/pic2.jpg"  class="img-fluid" alt="" />
        </div>
        <div class="col-md p-5" data-aos="slide-left">
          <h2>Understanding Suicidal Depression</h2>
          <p class="lead">
            What is suicidal depression?
          </p>
          <p>
            If you experience persistent feelings of hopelessness, sadness, and helplessness, you’re not alone.

            Millions of people in the United States live with depression. In fact, the National Institute of Mental HealthTrusted Source reports that over 17 million adults experienced a major depressive episode in the previous year.
            
            While many people learn to manage daily life with symptoms of depression, there is one that requires immediate attention — suicidal ideation. According to the Centers for Disease Control and PreventionTrusted Source (CDC), suicide is the 10th leading cause of death in the United States.
          </p>
          <a href="https://www.healthline.com/health/depression/suicidal-depression?utm_source=ReadNext" target="_blank" class="btn btn-light mt-3 ">
            <i class="bi bi-chevron-right "></i> Read more
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="learn" class="p-3 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">

        <div class="col-md p-5" data-aos="slide-right">
          <h2>Suicide</h2>
          <p class="lead">
            What to do when someone is suicidal
          </p>
          <p>
            When people say they're thinking about suicide, or say things that sound like they're considering suicide, it can be very upsetting. You may not be sure what to do to help, whether you should take talk of suicide seriously, or if your intervention might make the situation worse. Taking action is always the best choice. Here's what to do.


          </p>
          <a href="https://www.mayoclinic.org/diseases-conditions/suicide/in-depth/suicide/art-20044707" target="_blank" class="btn btn-light mt-3 float-end ">
            <i class="bi bi-chevron-right "></i> Read more
          </a>

        </div>
        <div class="col-md">
          <img src="../static/img/pic4.jpg" data-aos="slide-left" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div id="learn" class="p-3 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="../static/img/pic1.jpg" data-aos="slide-right" class="img-fluid" alt="" />
        </div>
        <div class="col-md p-5" data-aos="slide-left">
          <h2>ANXIETY</h2>
          <p class="lead">
            Panic Attacks and Panic Disorder
          </p>
          <p>
            Ever experienced a sudden surge of overwhelming anxiety and fear? Explore this guide to panic attacks, including symptoms, treatment, and self-help tips.
          </p>
          <a href="https://www.helpguide.org/articles/anxiety/panic-attacks-and-panic-disorders.htm" target="_blank" class="btn btn-light mt-3 ">
            <i class="bi bi-chevron-right "></i> Read more
          </a>

        </div>
      </div>
    </div>
  </div>
  <div id="learn" class="p-3 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">

        <div class="col-md p-5" data-aos="slide-right" >
          <h2>MENTAL HEALTH</h2>
          <p class="lead">
            Coping with Depression
          </p>
          <p>
            When you’re depressed, you can’t just will yourself to “snap out of it.” But these coping strategies can help you deal with depression and put you on the road to recovery.            </p>
          <a href="https://www.helpguide.org/articles/depression/coping-with-depression.htm" target="_blank"class="btn btn-light mt-3 float-end ">
            <i class="bi bi-chevron-right"></i> Read more
          </a>

        </div>
        <div class="col-md">
          <img src="../static/img/pic7.jpg" data-aos="slide-left" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
  <footer>
    <div class="container-lg">
      <div class="footer-body pt-3">
        <div class="contacts mt-3">
          <h3>Contacts</h3>
          <p> Ayala Blvd, Ermita, Manila, 1000 Metro Manila</p>
          <p>Phone Number: 09320203902</p>
          <p>Telephone Number: 28348348</p>
        </div>

        <div class="menu mt-3">
          <h3>SIDetect Features</h3>
          <ul>
            <li><a href="{{ url_for('detection_page') }}">Detection</a></li>
            <li><a href="{{ url_for('chatbot_page') }}">Chatbot</a></li>
            
          </ul>
          
        </div>

        <div class="menu mt-3">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('hotline_page') }}">Hotlines</a></li>
            <li><a href="{{ url_for('team_page') }}">Developers</a></li>
            
          </ul>
        </div>

      </div>
    </div>
  </footer>

</header>
  <!-- about section starts -->
  <!-- <section class="section-padding" id="service">
  <div class="card m-5 p-4 rounded-4">
    <div class="card-body">
      <h1 class="card-title text-center text-warning">Suicidal Ideation Detection</h1>
      <p class="card-text text-center fs-4">Enter a sentence or phrase and the SIDetect will evaluate the sentence if it
        contains suicidal ideation or not.
      </p>
      <form class="row g-3" action="/predict" method="POST">
        <div class="mb-3">
          <textarea class="form-control rounded-2 border-dark-subtle border-3" id="exampleFormControlTextarea1" rows="6"
            placeholder="Input text here...." name="text"></textarea>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary btn-lg me-md-2" data-bs-toggle="modal" data-bs-target="#oneexampleModal"
            type="submit" name="text">Submit</button>
        </div>
      </form>
      <p class="card-text text-center">{{ session["sample"] }}</p>
      <h4 class="card-text text-center typing-demo">{{ session["anlys"] }}</h4>

    </div>
  </div>
</section> -->
  {% endblock %}