{% extends 'index.html' %}

{% block head %}
<title>SIDetect WebApp</title>
{% endblock %}

{% block content %}
<header>
  <section class="text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start" style="background-color: white;">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1 class=" text-black"><span class="text-warning">SIDetect</span> : A Web-based Application </span></h1>
          <p class="lead my-4 text-black">
            For Detecting Suicidal Ideations (SI) using Natural Language Processing and Machine Learning.
          </p>

        </div>
        <img class="img-fluid w-50  d-sm-block" src="../static/img/pic5.jpg" id="img-main" alt="" />
      </div>
    </div>
  </section>

  <section class="p-5">
    <div class="container">
      <div class="row text-center g-4 my-5">
        <div class="col-md" data-aos="fade-up">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-search"></i>
              </div>
              <h3 class="card-title mb-3">SIDetect</h3>
              <p class="card-text" style="text-align: justify;">
                Suicide is a critical issue in modern society. Early detection and prevention of suicide attempts should
                be addressed to save people's life.
              </p>
              <a href="{{ url_for('detection_page')}}" class="btn btn-warning">Start Detect</a>
            </div>
          </div>
        </div>
        <div class="col-md" data-aos="fade-up">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <h3 class="card-title mb-3">MIKAY the Chatbot</h3>
              <p class="card-text" style="text-align: justify;">
                A chatbot named "MIKAY" whom you can ask related question to mental health, suicides, depression and anxiety.
              </p>
              
              <a href="{{ url_for('chatbot_page')}}" class="btn btn-warning">Ask now</a>
            </div>
          </div>
        </div>
        <div class="col-md" data-aos="fade-up">
          <div class="card bg-dark text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <h3 class="card-title mb-3">Our Team </h3>
              <p class="card-text" style="text-align: justify;">
                We are students taking Bachelor of Science in Computer Science from Technological Universiy of the
                Philippines.
              </p>
              <a href="{{ url_for('team_page') }}" class="btn btn-warning">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="learn" class="p-5 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="../static/img/mental.jfif" data-aos="slide-right" class="img-fluid" alt="" />
        </div>
        <div class="col-md p-5" data-aos="slide-left">
          <h2>Mental Health</h2>
          <p class="lead">
            What's normal, what's not
          </p>
          <p>
            What's the difference between normal mental health and mental disorders? Sometimes the answer is clear, but
            often the distinction isn't so obvious. For example, if you're afraid of giving a speech in public, does it
            mean you have a mental health disorder or a run-of-the-mill case of nerves? Or, when does shyness become a
            case of social phobia?
          </p>
          <a href="help.html" class="btn btn-light mt-3 ">
            <i class="bi bi-chevron-right "></i> Read more
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="learn" class="p-5 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">

        <div class="col-md p-5" data-aos="slide-right">
          <h2>Personal Growth</h2>
          <p class="lead">
            Metanoia
          </p>
          <p>
            Personal growth is a process of both understanding yourself and pushing yourself to reach your highest
            potential. It means always asking yourself who you are becoming and how you plan to get there. It can
            involve working on new habits and hobbies, fostering new skills, and practicing new strategies to achieve
            your goals. While this development starts very personal, it radiates outward and touches every aspect of
            your life, including your practice and professional growth.
          </p>
          <a href="help.html" class="btn btn-light mt-3 float-end">
            <i class="bi bi-chevron-right "></i> Read more
          </a>

        </div>
        <div class="col-md">
          <img src="../static/img/pic6.jpg" data-aos="slide-left" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
  <section id="learn" class="p-5 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md" data-aos="slide-right">
          <img src="../static/img/pic2.jpg"  class="img-fluid" alt="" />
        </div>
        <div class="col-md p-5" data-aos="slide-left">
          <h2>Purpose in Life</h2>
          <p class="lead">
            What Is It and How to Find It
          </p>
          <p>
            Purpose can guide life decisions, influence behavior, shape goals, offer a sense of direction, and create
            meaning. For some people, purpose is connected to vocation—meaningful, satisfying work. For others, their
            purpose lies in their responsibilities to their family or friends. Others seek meaning through spirituality
            or religious beliefs. Some people may find their purpose clearly expressed in all these aspects of life.
          </p>
          <a href="help.html" class="btn btn-light mt-3 ">
            <i class="bi bi-chevron-right "></i> Read more
          </a>
        </div>
      </div>
    </div>
  </section>
  </section>
  <section id="learn" class="p-5 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">

        <div class="col-md p-5" data-aos="slide-right">
          <h2>Self-Acceptance</h2>
          <p class="lead">
            Do you accept yourself?
          </p>
          <p>
            Self-acceptance is exactly what its name suggests: the state of complete acceptance of oneself. True
            self-acceptance is embracing who you are, without any qualifications, conditions, or exceptions.
          </p>
          <a href="help.html" class="btn btn-light mt-3 float-end ">
            <i class="bi bi-chevron-right "></i> Read more
          </a>

        </div>
        <div class="col-md">
          <img src="../static/img/pic4.jpg" data-aos="slide-left" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section id="learn" class="p-5 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="../static/img/pic1.jpg" data-aos="slide-right" class="img-fluid" alt="" />
        </div>
        <div class="col-md p-5" data-aos="slide-left">
          <h2>Dysfunctional Beliefs</h2>
          <p class="lead">
            Positive relations with others
          </p>
          <p>
            Everyone who has lived a little while has developed opinions and beliefs about the nature of the world and
            the people who inhabit it. These beliefs are not isolated facts living hermit lives inside people's minds,
            but rather, part of an organized system of beliefs, referred to as schemas, that people develop as they
            grow. Schemas are not static, but instead change over time as people develop increasingly sophisticated
            understandings of their world. Beliefs are influenced by interpersonal interactions and through exposure to
            the media. People can form beliefs by simply swallowing other people's beliefs whole. Some people also
            manage to come to their own conclusions about things and to author their own beliefs.
          </p>
          <a href="help.html" class="btn btn-light mt-3 ">
            <i class="bi bi-chevron-right "></i> Read more
          </a>

        </div>
      </div>
    </div>
  </section>
  <section id="learn" class="p-5 ">
    <div class="container">
      <div class="row align-items-center justify-content-between">

        <div class="col-md p-5" data-aos="slide-right" >
          <h2>Anxiety Disorder</h2>
          <p class="lead">
            When Worry Gets Out of Control
          </p>
          <p>
            Anxiety disorder is a mental health condition characterized by persistent and excessive worry, fear, and/or
            anxiety. These feelings may be related to a specific situation or object or may be more generalized and
            occur without a specific trigger.
          </p>
          <a href="help.html" class="btn btn-light mt-3 float-end ">
            <i class="bi bi-chevron-right"></i> Read more
          </a>

        </div>
        <div class="col-md">
          <img src="../static/img/pic7.jpg" data-aos="slide-left" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container-lg">
      <div class="footer-body pt-3">
        <div class="contacts mt-3">
          <h3>Contacts</h3>
          <p> Ayala Blvd, Ermita, Manila, 1000 Metro Manila</p>
          <p>Phone Number: 09320203902</p>
          <p>Telephone Number: 28348348</p>
        </div>

        <div class="menu mt-3">
          <h3>SIDetect Features</h3>
          <ul>
            <li><a href="{{ url_for('detection_page') }}">Detection</a></li>
            <li><a href="{{ url_for('chatbot_page') }}">Chatbot</a></li>
            
          </ul>
          
        </div>

        <div class="menu mt-3">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('hotline_page') }}">Hotlines</a></li>
            <li><a href="{{ url_for('team_page') }}">Developers</a></li>
            
          </ul>
        </div>

      </div>
    </div>
  </footer>
  <!-- about section starts -->
  <!-- <section class="section-padding" id="service">
  <div class="card m-5 p-4 rounded-4">
    <div class="card-body">
      <h1 class="card-title text-center text-warning">Suicidal Ideation Detection</h1>
      <p class="card-text text-center fs-4">Enter a sentence or phrase and the SIDetect will evaluate the sentence if it
        contains suicidal ideation or not.
      </p>
      <form class="row g-3" action="/predict" method="POST">
        <div class="mb-3">
          <textarea class="form-control rounded-2 border-dark-subtle border-3" id="exampleFormControlTextarea1" rows="6"
            placeholder="Input text here...." name="text"></textarea>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary btn-lg me-md-2" data-bs-toggle="modal" data-bs-target="#oneexampleModal"
            type="submit" name="text">Submit</button>
        </div>
      </form>
      <p class="card-text text-center">{{ session["sample"] }}</p>
      <h4 class="card-text text-center typing-demo">{{ session["anlys"] }}</h4>

    </div>
  </div>
</section> -->
  {% endblock %}