{% extends 'index.html' %}

{% block head %}
<title>SIDetect Hotlines</title>
{% endblock %}

{% block content %}

<div class="banner"></div>


<section class="p-5 mb-5 ms-5">
  <div class="container ">
    <h1 class="text-center">CONTACT - HELP IS AVAILABLE</h1>
    <h5 class="text-center mb-5">
  SPEAK WITH SOMEONE <br> TODAY!
    </h5>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card" >
            <div class="card-body">
              <img class="img-fluid mb-3" src="../static/img/hopeline.jpg" alt="">
              <h5 class="card-title">HopeLine PH<i class="bi bi-shield-check float-end" style="color:green"></i></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Everyone</h6>
              <p class="card-text">HOPELINE provides 24/7, free, compassionate and confidential support by phone and online chat. We are here to help everyone in...</p>
              <div class="ms-4">
                <i class="bi bi-clock" style="color: blue;"> Open 24/7</i></div> 
               
              <div class="ms-4 mt-1">
                <i class="bi bi-person-check"> Counselors</i> </div>
              <div class="ms-4 mt-1">
                <i class="bi bi-telephone"> (02)8804-4673</i>
              </div>                
              <div class="ms-4 mt-1">
                <i class="bi bi-globe"> <a href="https://www.ngf-mindstrong.org/hopeline-ph" style="text-decoration: none;">ngf-mindstrong.org</a></i>     
              </div>                
              <hr>
              <div class="text-center p-1">   <a style="padding: 1rem; border-radius: 50%; background-color: whitesmoke;"
                class="bi bi-telephone-fill text-dark me-4" href="tel:(02) 8804-4673"></a></a>
                <a style="padding: 1rem; border-radius: 50%; background-color: whitesmoke;"
            class="bi bi-chat-left-dots-fill text-dark" href="https://m.me/313646922436485"></a></a></div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card" >
            <div class="card-body">
              <img class="img-fluid mb-3" src="../static/img/hopeline.jpg" alt="">
              <h5 class="card-title">In Touch: Crisis Line<i class="bi bi-shield-check float-end" style="color:green"></i></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Everyone</h6>
              <p class="card-text">HOPELINE provides 24/7, free, compassionate and confidential support by phone and online chat. We are here to help everyone in...</p>
              <div class="ms-4">
                <i class="bi bi-clock" style="color: blue;"> Open 24/7</i></div> 
               
              <div class="ms-4 mt-1">
                <i class="bi bi-person-check"> Counselors</i> </div>
              <div class="ms-4 mt-1">
                <i class="bi bi-telephone"> (02)8893-7603</i>
              </div>                
              <div class="ms-4 mt-1">
                <i class="bi bi-globe"> <a href="https://www.in-touch.org" style="text-decoration: none;">in-touch.org</a></i>     
              </div>                
              <hr>
              <div class="text-center p-1">   <a style="padding: 1rem; border-radius: 50%; background-color: whitesmoke;"
                class="bi bi-telephone-fill text-dark me-4" href="tel:1800-1888-1553"></a></a>
                <a style="padding: 1rem; border-radius: 50%; background-color: whitesmoke;"
                class="bi bi-chat-left-dots-fill text-dark" href="https://m.me/336912156753999"></a></a>
            </div>
      
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card" >
            <div class="card-body">
              <img class="img-fluid mb-3" src="../static/img/hopeline.jpg" alt="">
              <h5 class="card-title">NCMH Crisis Hotline<i class="bi bi-shield-check float-end" style="color:green"></i></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Everyone</h6>
              <p class="card-text">HOPELINE provides 24/7, free, compassionate and confidential support by phone and online chat. We are here to help everyone in...</p>
              <div class="ms-4">
                <i class="bi bi-clock" style="color: blue;"> Open 24/7</i></div> 
               
              <div class="ms-4 mt-1">
                <i class="bi bi-person-check"> Counselors</i> </div>
              <div class="ms-4 mt-1">
                <i class="bi bi-telephone"> 1800-1888-1553</i>
              </div>                
              <div class="ms-4 mt-1">
                <i class="bi bi-globe"> <a href="https://www.ncmhusaptayo.com/landing" style="text-decoration: none;">nmchusaptayo.com</a></i>     
              </div>                
              <hr>
              <div class="text-center p-1">   
                <a style="padding: 1rem; border-radius: 50%; background-color: whitesmoke;" class="bi bi-telephone-fill text-dark me-4" href="tel:1800-1888-1553"></a>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col">
          <div class="card" >
            <div class="card-body">
              <img class="img-fluid mb-3" src="../static/img/hopeline.jpg" alt="">
              <h5 class="card-title">Child Helpline<i class="bi bi-shield-check float-end" style="color:green"></i></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Everyone</h6>
              <p class="card-text">HOPELINE provides 24/7, free, compassionate and confidential support by phone and online chat. We are here to help everyone in...</p>
              <div class="ms-4">
                <i class="bi bi-clock" style="color: blue;"> Open 24/7</i></div> 
               
              <div class="ms-4 mt-1">
                <i class="bi bi-person-check"> Counselors</i> </div>
              <div class="ms-4 mt-1">
                <i class="bi bi-telephone"> 163</i>
              </div>                
              <div class="ms-4 mt-1">
                <i class="bi bi-globe"> <a 
                  href="https://foundation.abs-cbn.com/bantay-bata/" style="text-decoration: none;">foundation.abs-cbn.com</a></i>     
              </div>                
              <hr>
              <div class="text-center p-1">   
                <a style="padding: 1rem; border-radius: 50%; background-color: whitesmoke;" class="bi bi-telephone-fill text-dark me-4" href="tel:163"></a>
              </div>
            </div>
          </div>
        </div>
    
      
      </div>
      </div>
 
  </div>
</section>
<style>
.banner {
width: 100%;
height: 100vh;
background: url('../static/img/bg1.png') #faf2e9;
background-size:cover;
background-attachment:fixed;   
background-size: 50%;
background-position: center;
background-repeat: no-repeat;
}
</style>
{% endblock %}
