{% extends 'index.html' %}

{% block head %}
<title>SIDetect WebApp Team</title>
{% endblock %}

{% block content %}
<section class="p-5 mb-5">
    <div class="container pt-5">
      <h2 class="text-center pt-5">Our Team</h2>
      <p class="lead text-center mb-5">
       Technological University of the Philippines - Manila <br>BSCS-4A
      </p>
      <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="card bg-light" style="border-width: 0.1rem;border-color: #1a1a1a;">
                <div class="card-body text-center text-black" >
              <img
                src="..\static\img\team-1.jpg"
                class="img-team rounded-circle mb-3"
                alt=""
              />
              <h3 class="card-title mb-3">Neil Michael D. Cañas</h3>
              
              <p class="card-text">
               Back-end Developer

              </p>
              <a href="https://www.facebook.com/neilmchl.canas" target="_blank"><i class="bi bi-facebook text-dark mx-1" target="_blank"></i></a>
              <a href="https://www.linkedin.com/in/neilca%C3%B1as" target="_blank"><i class="bi bi-linkedin text-dark mx-1" target="_blank"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card bg-light" style="border-width: 0.1rem;border-color: #1a1a1a;">
                <div class="card-body text-center text-black">
                        <img
                src="..\static\img\team-2.jpg"
                class="img-team rounded-circle mb-3"
                alt=""
              />
              <h3 class="card-title mb-5">Carlo M. Salva</h3>
              <p class="card-text">
               Front-end Developer
          
              </p>
              <a href="https://www.facebook.com/carlo.salva.161" target="_blank"><i class="bi bi-facebook text-dark mx-1" target="_blank"></i></a>
              <a href="https://www.linkedin.com/in/carlo-salva-10ba68259" target="_blank"><i class="bi bi-linkedin text-dark mx-1" target="_blank"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card bg-light" style="border-width: 0.1rem;border-color: #1a1a1a;">
                <div class="card-body text-center text-black">
              <img
                src="..\static\img\team-3.jpg"
                class="img-team rounded-circle mb-3"
                alt=""
              />
              <h3 class="card-title mb-3">Saeymond Charles N. Serrano</h3>
              <p class="card-text">
              Researcher
        
              </p>
              <a href="https://www.facebook.com/saeymondcharles.serrano" target="_blank"><i class="bi bi-facebook text-dark mx-1" target="_blank"></i></a>
              <a href="https://www.linkedin.com/in/saeymond" target="_blank"><i class="bi bi-linkedin text-dark mx-1" target="_blank"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card bg-light" style="border-width: 0.1rem;border-color: #1a1a1a;">
                <div class="card-body text-center text-black">
              <img
                src="..\static\img\team-4.jpg"
                class="img-team rounded-circle mb-3"
                alt=""
              />
              <h3 class="card-title mb-5">Jihad M. Yusoph</h3>
              <p class="card-text">
               Front-end Developer
        
              </p>
              <a href="https://www.facebook.com/jihadyusoph7" target="_blank"><i class="bi bi-facebook text-dark mx-1" target="_blank"></i></a>
              <a href="https://www.linkedin.com/in/jihad-yusoph-493859261/" target="_blank"><i class="bi bi-linkedin text-dark mx-1" target="_blank"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
