* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
.detection {
	width: 100%;
	height: 100vh;
	background-color: #232931;
	overflow-x: hidden;	
}

.input-group {
	display: flex;
	border-radius: 7px;
	overflow: hidden;
}

.form-control,
.btn {
	height: 40px;
	border: none;
	outline: none;
	font-size: 1em;
	font-weight: 500;
	padding: 0 7px;
	background: #393e46;
	transition: 0.3s ease;
}

.btn {
	background-color: #ffff00;
	color: #232931;
	cursor: pointer;
}

select:hover {
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}

.btn:hover {
	box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.2);
}

.form-control:focus {
	box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}
.pat1 {
	animation: changeColorPath1 1.5s linear infinite;
}
.pat2 {
	animation: changeColorPath2 1.5s linear infinite;
}
.form-control::placeholder {
	color: #ffffff;
}

.title .text {
	font-size: 3em;
	animation: changeColor 1.5s linear infinite;
}
.title .brand h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.title {
	text-align: center;
	margin: -20px 0 10px 0;
	display: flex;
	justify-content: center;
}

.title .brand h1 {
	font-size: 3em;
	color: #fff;
}
.title .brand h1 span {
	transition: 0.15s ease;
}

.head {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@keyframes popUp {
	0% {
		transform: translateY(150px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes changeColor {
	0% {
		color: #393e46;
	}
	50% {
		color: #ffff00;
	}
	100% {
		color: #393e46;
	}
}
@keyframes changeColorPath1 {
	0% {
		fill: #393e46;
	}
	50% {
		fill: #c61951;
	}
	100% {
		fill: #393e46;
	}
}
@keyframes changeColorPath2 {
	0% {
		fill: #393e46;
	}
	50% {
		fill: #ffff00;
	}
	100% {
		fill: #393e46;
	}
}
@media (max-width: 427px){
	h1{
		text-align: left;

	}
}
