footer{
    margin-top: 15rem;
    padding-bottom: 5rem;
    color: rgb(236, 236, 236);
    background-color: rgb(70, 71, 71);
    overflow-x: hidden;
    
}
.footer-header{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}
.socials{
    font-size: 25px;
    letter-spacing: 1rem;
}
.socials a{
    color: rgb(236, 236, 236);
}
.socials i:hover{
    transform: scale(1.5);
}
.socials i{
    transition: all .2s ease-in-out;
}
.socials a:nth-child(1):hover{
    color: rgb(42, 42, 255)
}
.socials a:nth-child(2):hover{
    color: rgb(45, 161, 255)
}
.socials a:nth-child(3):hover{
    color: rgb(214, 65, 228);
}
.footer-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu ul{
    list-style: none;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: rgb(236, 236, 236);
}
.news-letter button{
    width: 9rem;
}